# SCRIPTS_DIR: absolute path to this scripts folder.
# CODE_DIR: absolute path to your code root (folder that contains c-00, c-01, ...)
#
# Example:
# SCRIPTS_DIR='/home/l4n1skyy/Downloads/42kl-piscine-0416/scripts/'
# CODE_DIR='/home/l4n1skyy/Documents/42kl/'
# PREP_USERNAME='lanusri-'
# PREP_EMAIL='lanusri-@student.42kl.edu.my'


SCRIPTS_DIR='/mnt/shared/03 AREAS/42kl-piscine-0426/scripts'
CODE_DIR='/mnt/shared/03 AREAS/42kl-piscine-0426/code/test'

PREP_USERNAME='lanusri-'
PREP_EMAIL='lanusri-@student.42kl.edu.my'
